[submodule "Bug-Apparition-Script-Handling/couque-au-chocolat"]
  path = Bug-Apparition-Script-Handling/couque-au-chocolat
  url = git://EpitechPromo2026/B-DOP-200-NAN-2-1-chocolatine-alexandre.franquet/